<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script defer src="../static/script.js"></script>
</head>
<body>

<div class="container">
    <div class="navbar">
        <img src="../mgt/praise_the_sun.png" alt="Logo">
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <div class="nav-links" id="navLinks">
            <a href="index.html">INÍCIO</a>
            <a href="sobre.html">SOBRE</a>
            <a href="contato.html">CONTATO</a>
        </div>
    </div>

    <div id="contato" class="section">
        <h1>Contato</h1>
        <p>Você pode entrar em contato comigo através das seguintes redes sociais:</p>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/gabriel-g-854017138/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/gabrielbguimaraes" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/notbiel__/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <footer>
        <p>© 2024 Gabriel Guimarães. Todos os direitos reservados.</p>
    </footer>
</div>

<script>
    function toggleMenu() {
        const navLinks = document.getElementById("navLinks");
        navLinks.classList.toggle("active");
    }
</script>

</body>
</html>
