<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <div class="navbar">
        <img src="/mgt/praise_the_sun.png" alt="Logo">
        <a href="index.html">INÍCIO</a>
        <a href="sobre.html">SOBRE</a>
        <a href="contato.html">CONTATO</a>
    </div>

    <div id="sobre" class="section">
        <h1>Sobre Mim</h1>
        <p>Algumas informações sobre mim e minhas habilidades.</p>
    </div>

    <hr class="divider">

    <div id="fatec" class="section">
        <h1>FATEC</h1>
        <h3>API 1º Semestre - Smart Farming</h3>
        <p>Participei de um projeto na Faculdade de Tecnologia de São Paulo na qual se trata do desenvolvimento de um website para a leitura e armazenamento de dados da estufa inteligente do Project Smart Farming, que analisa os dados sobre umidade ambiente, umidade do solo, temperatura ambiente e volume da água, usando-os como base para a geração de gráficos e médias diárias, possibilitando uma melhor administração e monitoria da estufa.</p>
        <div class="fotinho">
            <img src="/mgt/smart.PNG" alt="projeto_smart">
        </div>
    </div>

    <hr class="divider">

    <div id="deep" class="section">
        <h1>DEEPESG</h1>
        <h3>Automatização de backups via python</h3>
        <p>Realizei a automatização de backups de empresa criando um script que acessava a API da Oracle Cloud infraestruture e enviava toda semana um email informando se a verificação foi realizada e quais empresas foram verificadas.</p>

        <div class="fotinho">
            <img src="/mgt/backups.PNG" alt="projeto_smart">
        </div>
    </div>

    <footer>
        <p>© 2024 Gabriel Guimarães. Todos os direitos reservados.</p>
    </footer>

    <hr class="divider">

    <div id="docker" class="section">
        <h1>FATEC</h1>
        <h3>Projeto dev web - FATEC</h3>
        <p>Criei um site de tema livre, com o tema de uma página para os fãs de One Piece e criei um banco de dados para o cadastro e containerizei a aplicação criando as imagens e utilizando o docker-compose.</p>
        <div class="fotinho">
            <img src="/mgt/one_piece.PNG" alt="projeto_dev">
        </div>
    </div>


</div>


</body>
</html>